.form > div,
.form > button {
    margin: 10px;
}

.query {
    width: 80%;
}

.dbSelector {
    width: 40%;
}

.response-table,
.response-table td,
.response-table th {
    border: solid black 1px;
}
